.bullets > ul > li {
  text-align: left
}

.subsection h1 {
  background-color: #29264D;
}

body {
  background-color: #1B1B24;
  background-image: url(http://assets.heroku.com/wallpaper/heroku-login-1440x900.png);
}

.content {
  color: black;
  font-family: 'Helvetica Neue', sans-serif;
  text-shadow: 0px 1px rgba(0,0,0,0.8);
}

h1, h2 {
  color: rgb(79, 180, 226);
  color: #29264D;
  font-family: Georgia;
}

#slideInfo::before{
  content: "@leinweber ";
}

